#CONFIG VCCAUX = "3.3" ;
#CONFIG ENABLE_SUSPEND = "FILTERED" ;
#CONFIG POST_CRC = "DISABLE" ;
#
#OFFSET = IN  10.000 VALID 20.000 BEFORE "CLOCK_50M";
#OFFSET = OUT 20.000 AFTER "CLOCK_50M";
NET "CLOCK_50M" LOC = "E12"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000;

# LED
NET "LED<0>"       LOC = "R20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "LED<1>"       LOC = "T19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "LED<2>"       LOC = "U20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "LED<3>"       LOC = "U19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "LED<4>"       LOC = "V19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

# BUTTON
NET "BUTTON_NORTH" LOC = "T14" | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;
#NET "BUTTON_WEST"  LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;
NET "BUTTON_EAST"  LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;
NET "BUTTON_SOUTH" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;

#NET "ROT_A" LOC = "T13" | IOSTANDARD = LVTTL | PULLUP | CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ROT_B" LOC = "R14" | IOSTANDARD = LVTTL | PULLUP | CLOCK_DEDICATED_ROUTE = FALSE;

# LCD
#NET "LCD_ENABLE"          LOC = "AB4"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_REGISTER_SELECT" LOC = "Y14"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_READ_WRITE"      LOC = "W13"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<7>"     LOC = "Y15"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<6>"     LOC = "AB16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<5>"     LOC = "Y16"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<4>"     LOC = "AA12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<3>"     LOC = "AB12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<2>"     LOC = "AB17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<1>"     LOC = "AB18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;
#NET "LCD_DATA_BIT<0>"     LOC = "Y13"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = QUIETIO;

# VGA
NET "VGA_B<0>"  LOC = "C7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_B<1>"  LOC = "D7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_B<2>"  LOC = "B9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_B<3>"  LOC = "C9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_G<0>"  LOC = "C5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_G<1>"  LOC = "D5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_G<2>"  LOC = "C6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_G<3>"  LOC = "D6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_R<0>"  LOC = "A3"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_R<1>"  LOC = "B3"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_R<2>"  LOC = "B8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_R<3>"  LOC = "C8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_HSYNC" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_VSYNC" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
